:root{
    --dark-primary-color: #1976D2;
    --default-primary-color: #2196F3;
    --light-primary-color: #BBDEFB;
    --text-primary-color: #FFFFFF;
    --accent-color: #03A9F4;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
}

body{
    background:var(--text-primary-color);
}

header{
    padding: 0.5em;
}

nav, nav a{
    padding: 1em;
}

nav a{
    background-color: var(--dark-primary-color);
    color: var(--text-primary-color);
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
}

nav a:active{
    background-color: var(--default-primary-color);
    color: var(--text-primary-color);
}

img{
    scale: 1;
}

a{
    color: var(--default-primary-color);
    /*border-radius: 3px 3px;*/
    text-decoration: none;
}
.bio-card{
    margin: 0.3em;
    margin-bottom: 1em;
    color: var(--primary-text-color);
    background: var(--text-primary-color);
    border-radius: 3px 3px;
    box-shadow: gray 3px 3px 3px;
}

.bio-p{
    padding: 1em 1em;
    border-left: var(--dark-primary-color) 0.5em solid;
    transition: border-left 0.25s;
}

.bio-p:hover{
    border-left: var(--primary-text-color) 0.5em solid;
}

#presentation:nth-child(odd){
    text-align: right;
}

header{
    background-color: #000;
    background-image: url("../res/img/header.png");
    background-repeat: round;
    background-size: contain;
    color: white;
}